{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="card py-5">
                <div class="row g-0">
                    <div class="col col-xl-5">
                        <div class="card-body p-4">
                            <h1 class="display-1"><span class="text-primary">4</span><span class="text-danger">0</span><span class="text-success">4</span></h1>
                            <h2 class="font-weight-bold display-4">Not Found</h2>
                                <br>The file you are trying to access is not found</p>
                            <div class="mt-5"> 
                                {% if user.user_type == "manager" %}
                                    <a href="{% url 'system_admin:add_doctor' %}" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
                                {% elif user.user_type == "patient" %}
                                    <a href="{% url 'patient:requests' %}" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
                                {% elif user.user_type == "doctor" %}
                                    <a href="{% url 'doctor:requests' %}" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
                                {% elif user.user_type == "pharmacist" %}
                                    <a href="{% url 'pharmacist:prescriptions' %}" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
                                {% endif %}
                                
                                <a href="javascript:;" class="btn btn-outline-dark btn-lg ms-3 px-md-5 radius-30" onclick="history.back()">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <img src={% static 'dashboard/images/403.jpg' %} class="img-fluid" alt="">
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
{% endblock content %}